@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  background-color: #F7F7F6;
}

body {
  /* overflow: hidden; */
}

.site-gradient {
  background: linear-gradient(90deg, #B0B0B0 0%, rgba(176, 176, 176, 0.00) 90.97%);
  z-index: -1;
}

.site-gradient-viewer {
  background: linear-gradient(180deg, #B0B0B0 0%, rgba(176, 176, 176, 0.00) 90.97%);
  /* background: linear-gradient(180deg, #444 0%, rgba(68, 68, 68, 0.00) 90.97%); */
  z-index: -1;
}

@media (min-width: 1024px) {
  body {
    overflow: hidden;
  }
}

.hp-images {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.hp-images::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.hp-content {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.hp-content::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
